<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>使用模版</title>
</head>
<body>
    <div style="margin-left: 350px">
        <h3>插入模版 th:insert</h3>
        <div th:insert="~{head :: top}">
            第一种方式使用模版 th:insert
        </div>

        <br>
        <h3>插入模版 第二种格式</h3>
        <p th:insert="head :: top"></p>

        <br><br><br>
        <h3>包含模版，第一种语法</h3>
        <div th:include="~{head :: top}">

        </div>

        <br><br>
        <h3>包含模版，第二种语法</h3>
        <div th:include="head :: top">

        </div>
    </div>
</body>
</html>
